* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 7rem;
  background: linear-gradient(-120deg, #f3f3f5, #e90b8b, #352384, #333447);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  background: whitesmoke;
  box-shadow: 0 8px 10px rgba(55, 55, 55, 0.576);
  letter-spacing: 1.2px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav__item {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #273cb8;
}

.nav__item:hover {
  color: #2196f2;
}

.footer {
  margin-top: 50px;
  background: #273cb8;
  min-height: 100px;
}
